<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xunsky.utils.android_utils">

    <application>
        <service android:name="xunsky.utils.android_utils.udid.OpenUDID_service">
            <intent-filter>
                <action android:name="org.OpenUDID.GETUDID" />
            </intent-filter>
        </service>
    </application>
</manifest>
